<div class = 'bot' >
  <i class='fa fa-comments fa-2x' aria-hidden='true'></i>
</div>
<div class = 'widget'>
    <div class = 'piece'>
        <div class = 'center-text'>
            <a href = 'https://web.facebook.com/warmhutpr/' class = 'fit' target = '_blank'><i class='fa fa-facebook facebook' aria-hidden='true'></i></a>
            <a href = 'https://twitter.com/warmhutGroup' class = 'fit' target = '_blank'><i class='fa fa-twitter twitter' aria-hidden='true'></i></a>
        </div>
    </div>
    <div class = 'piece'>
        <form>
            <input type = 'text' id = 'name' placeholder = 'Name' required>
            <input type = 'email' id = 'email' placeholder = 'Email address' required>
            <input type = 'tel' id = 'email' placeholder = 'Mobile'>
            <button type = 'button' class = 'submit'>Send</button>
        </form>
    </div>
</div>