<footer class="center-text">
    <div class="flex-panel">
      <div class="flex-item trio">
        <p>{{ site.description }}</p>
      </div>

      <div class="flex-item trio">
        <a href="mailto:support@warmhutgroup.com" class = 'email-us'>Email Us</a>
        <ul>
          <li><a href="/solutions/brand/">Brand Design</a></li>
          <li><a href="/solutions/social/">Publicity</a></li>
          <li><a href="/solutions/web/">Web Dvelopment</a></li>
        </ul>
      </div>
      <div class="flex-item trio">
        <a href = 'https://web.facebook.com/warmhutpr/' target = '_blank'><i class='fa fa-facebook facebook' aria-hidden='true'></i></a>
        <a href = 'https://twitter.com/warmhutGroup' target = '_blank'><i class='fa fa-twitter twitter' aria-hidden='true'></i></a>   
      </div>
    </div>
    <p class = 'center-text'>
      &copy; <span class = 'thisYear'></span> WarmHut - All rights reserved.
    </p>
    <script src='https://code.jquery.com/jquery-3.1.0.min.js' integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s='   crossorigin='anonymous'></script>
    <script src="https://use.fontawesome.com/df6b169964.js"></script>
  <script src = '{{site.baseurl}}/assets/index.js'></script>
</footer>