<footer class="center-text">
    <div class="flex-panel">
      <div class="flex-item trio">
        <h4>Tools</h4>
        <ul>
          <li><a href="/blog" title = ''>Blog</a></li>
        </ul>
      </div>
      <div class="flex-item trio">
        <h4>Warmhut</h4>
        <ul>
          <li><a href="/solutions/brand/" title = ''>Brand Design</a></li>
          <li><a href="/solutions/social/" title = 'market on social media'>Marketing</a></li>
          <li><a href="/solutions/web/" title = 'start a website'>Web Development</a></li>
        </ul>
      </div>
      <div class="flex-item trio">
        <h4>Social Media</h4>
        <a href = 'https://web.facebook.com/warmhutpr/' target = '_blank'><i class='icon icon-facebook facebook' aria-hidden='true'></i></a>
        <a href = 'https://twitter.com/warmhutGroup/' target = '_blank'><i class='icon icon-twitter twitter' aria-hidden='true'></i></a>   
      </div>
    </div>
    <p class = 'center-text'>
      &copy; <span class = 'thisYear'></span> WarmHut - All rights reserved.
    </p>
    <script async src='https://code.jquery.com/jquery-3.1.0.min.js' integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s='   crossorigin='anonymous'></script>
    <script async src = '{{site.baseurl}}/assets/index.js'></script>
</footer>