<header class="menu-overlay" role="banner">
    <nav>
      <a class="nav-brand" href="{{ "/" | relative_url}}">
        <div class = 'fit infinity'></div><div class = 'fit'>WARMHUT</div>
      </a>
      <div class = 'view-menu'>
        <!--<i class='icon icon-bars' aria-hidden='true'></i>-->
        <span class = 'toggle-me'></span>
      </div>
      <ul class="nav-menu">
          <li><a href="/about/">About</a></li>
          <li class="parent-link"><a href="/solutions/">Solutions</a></li>
          <li><a href="/blog/">Blog</a></li>      
      </ul>
    </nav>
</header>
