<header class="menu-overlay" role="banner">
    <nav>
      <a class="nav-brand" href="{{ "/" | relative_url}}">
        <img src = '{{site.baseurl}}/assets/layout/warmhut.svg' alt = 'Warmhut Logo'>
      </a>
      <div class = 'view-menu'>
        <i class='fa fa-bars fa-2x' aria-hidden='true'></i>
      </div>
      <ul class="nav-menu">
          <li><a href="/about/">About</a></li>
          <li><a href="/portfolio/">Portfolio</a></li>
          <li class="parent-link"><a href="/solutions/">Solutions</a></li>
          <li><a href="/blog/">Blog</a></li>      
      </ul>
    </nav>
</header>
