a{
  text-decoration: none;
  color:inherit;
}
ul{
  list-style: none;
}
body{
  position:relative;
  font-family:'Nunito Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height:1.4;
  margin:0 auto;
  color:#222;
  max-width:1440px;
  font-weight:400;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
h1,h2, h3, h4{
  font-stretch:normal;
  font-weight:400;
  text-align:center;
  padding:0;
  line-height:1.1;
  color:#000;
  margin:0 auto;
}
h1{
  font-weight:300;
}
h1{
  font-size:240%;
}
h2{
  font-size:150%
}
h3{
  font-size:130%;
}
h4{
  font-size:125%;
}
p{
  padding:3px 0;
}
img{
  display: inline-block;
  vertical-align: middle;
  width:100%;
  height: auto;
  margin:0 auto;
}