.team{
  padding-bottom:75px;
}
.team img{
  display:block;
  width:120px;
  height:auto;
  margin:25px auto;
  border-radius:50%;
  border-color:#14cc33 #000 #14cc66;
  border-style:solid;
  border-width:5px;
  padding:5px;
}
.team-f{
  display:block;
  padding:5px 15px;
  margin:0 auto;
  text-align:center;
  color:#14CC33;
  cursor:pointer;
}
.our-value{
  width:135px;
  height:135px;
  padding:60px 0;
  text-align:center;
  background-color:#111;
  border-radius:75px 80px 75px 0;
  transform:rotate(-45deg);
  margin:5px auto 30px auto;
  color:#fff;
  border-color:#14cc33 #14cc66;
  border-width:2px;
  border-style:solid;
}
.our-value p{
  transform:rotate(45deg);
}
.team-f:hover{
  color:#14cc66;
  text-decoration:underline;
}
.wisdom{
  border-radius:10px;
  width:90%;
  padding:15px;
  font-size:100%;
  text-align:center;
  margin:0 auto;
}
.btn{
  display: inline-block;
  width:250px;
  padding:12.5px;
  font-size:1.1em;
  border-radius:6px;
  margin:5px;
  text-align:center;
  transition:background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in;
}
.bright{
  background-color:#fff;
  color:#000;
}
.btn.green{
  background-color:#14cc33;
  color:#fff;
}
.hollow{
  color:#111;
  width:200px;
  margin:5px 0;
  padding:7.5px;
  border-radius:40px;
  background-color:transparent;
  border:1.5px solid #14cc66;
}
.btn.hollow:hover{
  color:#14cc33;
  border:1.5px solid #14cc33;
}
.btn.btn.bright:hover{
  background-color:#eee;
}
.btn.green:hover{
  background-color:#14cc66;
}
.wrapper{
  width:100%;
  padding-top:45px;
  margin:0;
}
.steps p{
  padding-left:10px;
  padding-right:10px;
}
.green{
  color:#14cc33;
}
.division,
.overlay{
  display:block;
  width:100%;
  min-height:667px;
  z-index:3;
  position:relative;
}
.facebook,
.twitter{
  padding:12.5px;
  max-width:250px;
  color:#fff;
  cursor:pointer;
  text-transform:uppercase;
  text-align:center;
  display:inline-block;
}
.facebook{
  background-color:#3b5998;
}
.twitter{
  background-color:#1da1f2;
}
.overlay{
  padding:90px 0 50px 0;
  background-color:rgba(0,0,0,0.85);
  color:#fff;
}
.transparent{
  padding:80px 0 40px 0 ;
}
.center-text{
  text-align: center;
}
.center-me{
  display:inline-block;
  width:80%;
  text-align:center;
}
.right-text{
  text-align: right;
}
.left-text{
  text-align:left;
}
footer{
  background:linear-gradient(#deeede,#eeeeee 50%);
  padding-bottom:15px;
}
footer p:last-child{
  font-size:98%;
  display:block;
  padding:12.5px 25px 40px;
  width:96%;
  max-width:960px;
  margin:5px auto;
}
footer a{
  position:relative;
  display:block;
  width:100%;
  padding:5px;
}
footer img{
  width:150px;
  height:auto;
}
footer .flex-panel{
  width:96%;
  padding: 0;
  text-align: center;
}
footer [class*='icon-']{
  border-radius:50%;
  padding:7px 10px;
  color:#fff;
}
#footer-social{
  max-width:150px;
  margin:0 auto;
}
footer div {
  padding:25px;
}
footer h4{
  padding:3px;
  margin-bottom:12.5px;
}
.svg-icon{
  width:150px;
  height:auto;
}
.weather .svg-icon{
  background-color:#14cc33;
  border-radius:50%;
}
.about h1{
  margin-top:60px;
}
.about > .flex-panel{
  padding-top:50px;
  padding-bottom:50px;
  min-height:50vh;
}
.underline{
  text-decoration: underline;
}
.half{
  max-width:750px;
  padding-bottom:30px;
  display:block;
  margin:10px auto;
  text-align:center;
  background:transparent;
  z-index:2;
}
.half p{
  padding-left:20px;
  padding-right:20px;
}
.button-group{
  display:block;
  margin:0 auto;
  width:290px;
  padding:5px;
}
.button{
  color:#fff;
  font-size:115%;
  padding:10px 0;
  width:135px;
  display:inline-block;
  margin-right:1px;
  text-align:center;
  cursor:pointer;
  background-color:#14cc33;
  border:none;
  border-radius:25px 0 0 25px;
  transition:background 0.3s ease-out 0.1s;
}
.border{
  color:#fff;
  font-weight:500;
  font-size:120%;
  width:250px;
  display:block;
  margin:25px auto;
  padding:10px 25px;
  border-radius:25px;
  background-color:#14cc33;
  border:1px solid transparent;
  cursor:pointer;
  text-align:center;
  transition:background 0.3s ease-out;
}
.border:hover{
  background-color:#14cc66;
  border:1px solid transparent;
}
.button:nth-child(2n){
  border-radius:0 25px 25px 0;
}
.button:hover{
  background-color:#fff;
  color:#000;
}
.sasa{
  color:#fff;
  background-color:#000;
  background-attachment:fixed;
  width:100%;
  height:84%;
  min-height:667px;
}
.sasa p,
.sasa h1,
.sasa h2{
  padding:5px 20px;
  color:#fff;
}

.project{
  padding:25px;
  border-radius:10px;
  display:block;
  background-color:transparent;
  margin:15px;
  opacity:0.85;
  cursor:pointer;
  transition:color 0.3s ease-in, opacity 0.3s;
}
.project img{
  display:inline-block;
  width:100%;
  max-width:360px;
  margin:0 auto;
  height:auto;
}
.project:hover{
  opacity:1;
}
.flex-panel{
  display:flex;
  flex-wrap: wrap;
  padding-left:10px;
  padding-right:10px;
  align-content:space-around;
}
.flex-item{
  align-items:stretch;
  flex-grow:1;
  flex-shrink:0;
  flex-basis:auto;
}
.duo,
.mono,
.quad,
.trio{
  width:100%;
}
.content{
  padding-top:100px;
}
form{
  width:100%;
  max-width:540px;
  padding:25px;
  margin:7.5px auto;
  position:relative;
}
input{
  margin:20px auto;
  display:block;
  padding:12.5px;
  width:100%;
  max-width:400px;
  background-color:#fff;
  font-size:110%;
  outline:none;
  border:1px solid transparent;
  border-radius:6px;
  transition: border 0.3s ease-out;
}
input:hover,
input:focus{
  border:1px solid #14CC33;
}
input.submit{
  width:100%;
  max-width:400px;
  background-color:#14cc33;
  color:#fff;
  font-weight:400;
  cursor:pointer;
  text-align:center;
  margin:15px auto;
  padding:12.5px 0;
  border-radius:25px;
  font-size:120%;
  outline:none;
  border:none;
  -webkit-appearance: none;
  transition:background 0.3s ease-in-out;
}
.submit:hover{
  background:#14cc66;
}
.subscription{
  padding:0;
}
.email,
.subscribe{
  display:inline-block;
  padding:10px;
  border-radius:6px;
  border:1px solid #14cc33;
}
.email{
 width:200px;

}.subscribe{
  width:75px;
  background-color:#14cc33;
  color:#fff;
  font-size:1.2em;
  outline:none;
  cursor:pointer;
}
.bot{
  position:fixed;
  bottom:0;
  right:0;
  width:45px;
  height:45px;
  border-radius:50%;
  font-size:1.25em;
  padding:6px 5px;
  background:radial-gradient(#14cc33,#14cc66);
  outline:none;
  color:#fff;
  cursor:pointer;
  z-index:501;
  text-align:center;
  margin:8px;
  transition: background 0.3s ease-in-out; 
}
.bot:hover{
  background:#14cc66;
}
.widget{
  width:100%;
  background:linear-gradient(rgba(255,255,255,0.5) 45%, rgba(0,0,0,0.9) 99%);
  color:#fff;
  padding:0;
  background-repeat:repeat;
  border-radius:5px;
  z-index:500;
  transition:height 0.4s ease-out;
  overflow:visible;
  min-height:100vh;
}
.whole{
  min-height:100vh;
  overflow:visible;
}
.continue{
  display:flex;
  cursor:pointer;
  z-index:503;
  max-width:280px;
  margin:15px auto;
  color:#fff;
  transition:opacity 0.3s ease-out;
  font-size:1.2em;
}
.previous{
  background-color:transparent;
  padding:10px;
  position:absolute;
  top:0;
  right:20px;
  border-radius:50%;
  border:1px solid #888;
}
.continue:hover{
  opacity:0.7;
}
.big-icon{
  display:block;
  margin:10px auto;
  font-size:4em;
}
.piece{
  background-color:rgba(0,0,0,0.7);
  padding:90px 0;
  min-height:100vh;
  color:#fff;
  position:relative;
  margin:0 auto;
  width:100%;
  height:100%;
  position:relative;
  border-radius:0 0 5px 5px;
}
.piece h3,
.piece h2{
  color:#14CC33;
}
.piece h1{
  color:inherit;
}
.confirm,
.sending{
  width:100%;
  padding:20px;
  text-align:center;
  font-size:1.2em;
}
.success{
  color:#14cc33;
}
.error{
  color:#f00;
}
.wrapper{
  position:relative;
}
.play{
  display:block;
  width:280px;
  margin:20px auto;
  perspective:50px;
}
#appear{
  perspective:500px;
  display:block;
  animation: appear 5s infinite alternate;
  color:#14cc33;
  font-size:125%;
  width:280px;
  height:36px;
  z-index:3;
  overflow:hidden;
  font-weight:500;
  text-transform:capitalize;
  margin:50px auto;
}
@keyframes appear{
  0%{opacity:1;}
  50%{ opacity:0.8;}
  100%{opacity:0;}
}
::-webkit-input-placeholder {
  color: #444;
}
h3.value{
  width:100%;
  padding:15px;
  text-align:center;
  text-transform:capitalize;
}
.services .trio{
  padding:15px 15px 75px 15px;
  font-size:105%;
}
.service-icon{
  padding:0 50px 25px 50px;
  font-size:6em;
  margin:0 auto;
  color:#14cc33;
}
#other > .expand-me{
  overflow:hidden;
  color:#222;
  background-color:transparent;
}
@media screen and (min-width: 567px){
  .trio,
  .quad{
    width:45%;
  }
  .highlight{
    background-color:#14cc33;
    border-radius:6px;
  }
  .highlight:hover{
    background-color:#14cc66;
  }
  .tree > .duo{
    width:40%;
    padding:0 50px;
  }
  .tree .duo:nth-of-type(even){
    border-left:2px solid #d0d0d0;
    position:relative;
  }
  .tree .duo:after{
    content:'';
    position:absolute;
    background-color:#fff;
    padding:5px;
    border-style: solid;
    border-color: #14cc33 #14cc66;
    border-width: 5px;
    border-radius:50%;
    top:0;
    left:-10px;
  }
   .tree .duo:nth-of-type(odd){
    padding-right:25px;
  }
  .tree{
    padding-bottom:60px;
    padding-top:25px;
  }
  .tree h2{
    text-align:left;
  }
  .overlay{
    padding-top:180px;
  }
}

@media screen and (min-width:769px){
  .flex-panel{
    padding-left:30px;
    padding-right:0;
  }
  .mono{
    width:96%;
  }
  .duo{
    width:45%;
  }
  .quad{
    width:21%;
  }
  .tripple{
    width:65%;
    padding:25px;
  }
  .trio{
    width:30%;
  }
  .form-modal{
    width:100%;
    margin:auto;
    border-radius:10px;
    padding:5px;
  }
  .overlay{
    padding-top:150px;
  }
}
