header{
  background-color:#111;
  color:#fff;
  text-align:center;
  position:fixed;
  width:100%;
  top:0;
  z-index:499;
  text-transform:uppercase;
}
header nav{
  position:relative;
}
header a{
  display:block;
  width:100%;
  text-transform:inherit;
}
.nav-menu{
 width:1px;
 height:0;
 overflow:hidden;
 transition:width 0.4s ease-in-out;
 font-weight:300;
}
.nav-brand{
  min-height:60px;
}
.nav-menu li,
.nav-brand{
  padding:10px 25px;
  transition: color 0.4s ease-out;
}
.nav-menu li:hover{
  color:#fff;
}
.nav-brand,
.nav-menu{
  vertical-align:text-top;
}
.logo{
  width:180px;
  height:auto;
  margin:0 0 0 25px;
}
.icon-bars{
  font-size:2.5em;
}
.view-menu{
  position:absolute;
  right:15px;
  width:60px;
  height:60px;
  text-align:center;
  top:5px;
  padding:5px 12px;
  cursor:pointer;
  border-radius:5px;
}
.toggle-me{
  position:relative;
  margin-top:15px;
  display:inline-block;
}
.toggle-me,
.toggle-me:after,
.toggle-me:before{
  padding:1px 16px;
  background-color:#fff;
}
.toggle-me:after,
.toggle-me:before,{
  content:'';
  position:absolute;
  left:0;
  transition: all 0.3s ease-in-out; 
}
.toggle-me:after{
  top:10px;
}
.toggle-me:before{
  top:-10px;
}
.toggled{
  border-radius:50%;
}
.toggled .toggle-me{
  background-color:transparent;
}
.toggled .toggle-me:after{
  padding:1px 12px;
  transform:rotate(45deg) translateY(-10px) translateX(-4px);
}
.toggled .toggle-me:before{
  padding:1px 12px;
  transform:rotate(-45deg) translateY(10px) translateX(-4px);
}

.nav-brand{
  text-align:left;
  width:80%;
}
.menu-open{
  display:block;
  width:96%;
  background-color:transparent;
  color:#fff;
  height:100vh;
  padding:0 20px;
  overflow:scroll;
}
.menu-open li{
  border-bottom:1px solid #222;
  text-align:left;
  padding:35px 0 10px 20px;
  transition:background 0.3s ease-in-out;
}
.menu-open li:first-child{
  margin-top:30px;
}
.menu-open li:hover{
  background:#000;
}
.icon-menu{
  font-size:1.5em;
  color:#14cc33;
}
.sub-menu{
    position:absolute;
    width:250px;
    background-color:#000;
    top:75px;
    text-transform:capitalize;
}
.sub-menu a{
    text-align:left;
    padding-left:15px;
}
.parent-link{
  position:relative;
}
.parent-link:hover > .sub-menu,
.sub-menu:hover{
    display:initial;
}
.sub-menu li{
    width:100%;
    display:block;
}
.infinity {
   position: relative;
   width: 57px;
}
.fit{
  height: 34px;
  display:inline-block;
  vertical-align:text-top;
  margin-right:3px;
  font-size:1.25em;
}
.infinity:before,
.infinity:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:18px;
  height:18px;
  border-color: #fff #14cc33 #fff #14cc33;
  border-style:groove;
  border-width:4px;
  border-radius: 50px 50px 0 50px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
 }
.infinity:after {
   left: auto;
   right: 0;
   border-radius: 50px 50px 50px 0;
   -webkit-transform: rotate(45deg);
   transform: rotate(45deg);
 }

@media screen and (min-width:768px){
  header{
    padding-top:12px;
  }
  .view-menu{
    display:none;
  }
  .nav-brand,
  .nav-menu{
     display: inline-block;
     vertical-align:text-top;
   }
   .nav-menu{
     width:65%;
     height:initial;
     text-align:right;
     padding-right:50px;
   }
   .nav-brand{
     width:32.5%;
     text-align:left;
   }
   .nav-menu li{
     text-align:center;
     display:inline-block;
     min-width:150px;
     transition:color 0.3s ease-in-out;
   }
   .nav-menu  li:not(.highlight):hover > a{
     color:#14cc33;
   }
}

.sending{
  padding-top:60px;
}
.sending h2{
  margin-bottom:15px;
}
.sending span{
	width:16px;
	height:16px;
	border-radius:50%;
	display:inline-block;
	position:absolute;
	left:50%;
	margin-left:-10px;
	animation:3s infinite linear;
}
.sending span:nth-child(2){
	background:#fff;
	animation:dance 1.2s infinite linear;
}
.sending span:nth-child(3){
	background:#14cc66;
	z-index:100;
}
.sending span:nth-child(4){
	background:#f00;
	animation:watch 1.2s infinite linear;
}

@keyframes watch {
    0% {transform:translateX(20px);
    }
   
	50%{transform:translateX(-20px);
	}
	
	100%{transform:translateX(20px);
	z-index:200;
	}
}
@keyframes dance {
     0% {transform:translateX(-20px);
	z-index:200;
    }
	50%{transform:translateX(20px);
	}
	100%{transform:translateX(-20px);
	}
}