
.tripple{
    width:100%;
}
aside{
    padding: 25px;
}
.post{
margin:0 auto;
padding:15px 5px;
line-height:27px;
}
.article{
    color:#222;
}
.article p{
    padding-top:10px;
    padding-bottom:10px;
    font-size:105%;
}
.article h1{
    font-size:200%;
}
.article h1,
.article h2,{
    margin:0 auto;
    padding:0;
    text-align:left;
    font-weight:400;
    color:#111;
}
.article .avatar{
    display:inline-block;
    width:50px;
    border-color:#14cc33 #111#14cc66;
    border-style:solid;
    border-width:2px;
    padding:2px;
    margin-right:10px;
    height:auto;
    border-radius:50%;
    margin-bottom:15px;
}
.article figure{
    position:relative;
    width:100%;
    height:auto;
    cursor:pointer;
    margin-left:0;
}
p + figure{
    margin:15px 0;
}
.article figure:after{
    content:'';
    position:absolute;
    width:100%;
    top:0;
    left:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:3;
    transition:background-color 0.3s ease-in;
}
.article:hover figure:after{
    background-color:rgba(0,0,0,0.7);
}
.featured{
    padding:0 !important;
}
.featured figure{
    width:96%;
}
.featured p{
    padding-top:0;
}
.blog,.post{
    min-height:96vh;
}
.blog > .flex-panel{
   padding-top:0;
   padding-bottom:0;
}
.blog > .land{
    color:white;
    width:100%;
    background-color:transparent;
    background-attachment:fixed;
    min-height:35vh;
    background-color:#111;
    border:0;
}
.blog .trio{
    background-color:transparent;
}
.land .intro{
    color:#fff;
    width:100%;
    padding:50px 20px 30px 20px;
}
.land .intro h1{
    color:#14cc33;
}
.land .overlay{
    background-color:transparent;
    min-height:50vh;
    padding:35px 50px;
}
.blog .post-list h3{
    text-align:left;
    color:#555;
    padding-left:0;
}
.post-list li{
    padding: 10px 15px;
    margin:15px 0;
}
.post-list h1{
    text-align:left;
    padding-left:0;
}
.post-link{
    transition:color 0.3s ease-in-out;
}
.post-link:hover{
    color:#14cc33;
}
.blog .tripple,
.blog .trio{
    padding:0;
}
time{
    color:#444;
    text-transform:uppercase;
    font-size:0.75em;
}
.author{
    text-transform:capitalize;
}
.tags{
    background-color:#eee;
    padding:5px;
    display:inline-block;
    width:40%;
    margin-right:5px;
    margin-top:10px;
    border-radius:5px;
    cursor:pointer;
    text-align:center;
    transition: background-color 0.3s ease-in-out;
}
.tags:hover{
    background-color:#ddd;
    opacity:0.9;
}
.link-follow{
    text-decoration:underline;
    color:#14cc33;
}
.important{
    padding-left:15px;
    color:#333;
    background-color:#eee;
    font-style:italic;
    line-height:1.7;
    border-left:4px solid #aaa;
    margin-bottom:15px;
}
.excerpt{
    padding-top:0;
    margin-top:0;
}
.important p{
    padding:2px;
}
// select fieldset
.select-wrapper,
.custom-select {
  position: relative;
  display: block;
  width:100%;
  max-width:400px;
  margin:0 auto;
  user-select: none;
}
.select-wrapper select {
  display: none;
  padding:15px;
}
.select-trigger {
    position: relative;
    display: block;
    width: 100%;
    margin:0 auto;
    padding: 0 25px 0 15px;
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
    line-height: 50px;
    background: #14cc33;
    border-radius: 6px;
    cursor: pointer;
}
.select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px; height: 10px;
    top: 50%; right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}
.custom-select.opened .select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    padding:10px 0;
}
.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}
.custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%; right: 25px;
    width: 10px; height: 10px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
}
.option-hover:before {
    background: #f9f9f9;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #b5b5b5;
    font-size: 18px;
    color: #222;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
    background: #f9f9f9;
}