
.tripple{
    width:100%;
}
aside{
    padding: 25px;
}
.post{
margin:0 auto;
padding:15px 25px;
}
.post h1,
.post h2{
    margin:0 auto;
    padding:15px 0;
    text-align:left;
}
.blog,.post{
    min-height:96vh;
}
.blog > .flex-panel{
   padding-top:0;
   padding-bottom:0;
}
.blog > .land{
    color:white;
    width:100%;
    background-color:transparent;
    background-attachment:fixed;
    min-height:35vh;
    background-color:#000;
    border:0;
}
.land .intro{
    color:#fff;
    width:100%;
    padding:90px 20px 30px 20px;
}
.land .intro h1{
    color:#14cc33;
}
.land .overlay{
    background-color:transparent;
    min-height:50vh;
    padding:35px 50px;
}
.post-list h3{
    text-align:left;
    color:#000;
    padding-left:0;
}
.post-list li{
    background:#f9f9f9;
    padding:15px;
    margin:20px;
}
.blog .tripple,
.blog .trio{
    padding:0;
}
.share{
    width:45%;
}