---
layout: default
---
<section class = 'blog about'>
  <div class = 'flex-panel land'>
    <div class = 'intro center-text'><div class = ''>{{ content }}</div></div>
  </div>
  <div class = 'flex-panel'>
      <div class = 'flex-item tripple'>
          <ul class="post-list">
            {% for post in site.posts %}
            <li>
              <p class="post-meta">{{ post.date | date: "%-d %b" }}</p>
              <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </h3>
              {{ post.excerpt }}
            </li>
            {% endfor %}
          </ul>
      </div>
      <aside class = 'flex-item trio'>
        <ul class="post-list">
          {% for post in site.posts %}
            <li>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </li>
          {% endfor %}
        </ul>
        <h3>Recent Tweets</h3>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a><i class = 'icon icon-rss' aria-hidden = 'true'></p>
      </aside>
  </div>
</section>
