---
layout: default
---
<div class = 'wrapper'>
      <section class = 'division'>
        <div class = 'sasa insight'>
          <div class = 'overlay'>
            <h1>Expand your market</h1>
            <h2>Build and promote your brand with us.</h2>
            <p class = 'center-text half'>
              We are web and marketing experts. When you make the decision to develop with us, 
              we promise to make your brand stand out from the crowd.
            </p>
            <div class = 'center-text bubbling'>
              <a href = '/solutions/web' class = 'btn bright'>Web Development</a>
              <a href = '/solutions/social' class = 'btn green'>Social Media Campaigns</a>
            </div>
          </div>
        </div>
      </section>
      <section class = 'division'>
        <div class = 'transparent'>
          <h1><span class = 'colorful'>Our Solutions</span></h1>
          <div class = 'half'>
            <p>We package our services as individuals pieces or as a set depending on your business needs. However, new businesses
              could absolutely benefit from the entire set. We are interested in being part of your success story. It will be an honour to assist you expand your 
              business at a fraction of your budget.</p>
            <a  href = 'solutions' class = 'border'>Learn More</a>
          </div>
        </div>
      </section>
      <section class = 'division'>
        <div class = 'sasa dev'>
          <div class = 'transparent'>
            <div class = 'half'>
              <p class = 'center-text green'>
                <img src = '{{site.baseurl}}/assets/icons/ideas.svg' alt = 'an idea' class = 'svg-icon'>
              </p>
              <h1>You have a business idea?</h1>
              <h2>We're helping you actualize it.</h2>
              <p>
                Every business needs a fast and responsive website to showcase its products and services.
                It must also leverage the social media marketplace by sharing.
                These goals require technology, which evolves rapidly. That is where our Warmhut Team comes in. When you
                partner with us, we do the heavy lifting for you so that you can concentrate on the non-technical aspects of your business.
              </p>
              </div>
            <a href = 'solutions' class = 'border'>Explore our solutions</a>
            </div>
          </div>
        </div>
      </section>
