---
layout: default
---
<div class = 'wrapper'>
      <section class = 'division'>
        <div class = 'sasa insight'>
          <div class = 'overlay'>
            <h1>Get Recognized</h1>
            <h2>NextGen Publicity Management</h2>
            <p class = 'center-text half' style = 'max-width: 400px;'>
              Get your customers talking about your brand wherever they are by standing out in a competitive style.
            </p>
            <div class = 'center-text bubbling'>
              <a href = '/solutions/web' class = 'btn bright'>Web Development</a>
              <a href = '/solutions/social' class = 'btn green'>Social Media Management</a>
            </div>
            <p class = 'green center-text play'><span id = 'appear'>Happy New Year!</span></p>
          </div>
          <div id = 'bubbles'></div>
        </div>
      </section>
      <section class = 'division'>
        <div class = 'transparent'>
          <h1><span class = 'colorful'>Our Solutions</span></h1>
          <div class = 'half'>
            <p>We package our services as individuals pieces or as a set depending on your business needs. However, new businesses
              today could absolutely benefit from the entire set. While our goal is to provide the best possible combination, we do our best to draw fair balance between your goals
            and your budget.</p>
            <p>We are interested in being part of your success story. It will be an honour to assist you expand your 
              business by leveraging technology.</p>
            <a  href = 'solutions' class = 'border'>Read More</a>
          </div>
        </div>
      </section>
      <section class = 'division'>
        <div class = 'sasa dev'>
          <div class = 'overlay flex-panel'>
            <div class = 'flex-item mono'>
              <h1>You have an idea </h1>
              <p class = 'center-text green'>
                <img src = '{{site.baseurl}}/assets/icons/ideas.svg' alt = 'an idea' class = 'svg-icon'>
              </p>
              <p class = 'center-text'> Warmhut will help actualize it.</p>
              <a href = 'solutions' class = 'border'>Explore our solutions</a>
            </div>
          </div>
        </div>
      </section>
      <section class = 'division'>
        <div class = 'transparent'>
          <h1><span class = 'colorful'>Develop with Warmhut</span></h1>
          <div class = 'flex-panel steps'>
            <div class = 'flex-item trio half'>
              <h3>Launch</h3>
              <p class = 'center-text green'><i class = 'fa fa-rocket fa-5x' aria-hidden = 'true'></i></p>
              <div class = 'step'>
                <p>Take the first step into the digital space. It is almost always necessary that you strive for uniqueness.
                  In online space your site is your portal to your business. Here, the rest of the world can see what your
                  business is about.</p>
              </div>
            </div>
            <div class = 'flex-item trio half'>
              <h3>Share</h3>
              <p class = 'center-text green'><i class = 'fa fa-share-alt fa-5x' aria-hidden = 'true'></i></p>
              <div class = 'step'>
                <p>Once your business site is up and running, it would be
                  great to integrate it with social media. Continually promote your business content pointing potential
                  clients to your site. The benefits of such an approach are always substantial.</p>
              </div>
            </div>
            <div class = 'flex-item trio half'>
              <h3>Keep up</h3>
              <p class = 'center-text green'><i class = 'fa fa-fire fa-5x' aria-hidden = 'true'></i></p>
              <div class = 'step'>
              <p>Technology is rapidly evolving; the techniques of today are different from those of yesterday, and 
                those of today from those of tomorrow. In fact, it goes without saying that everyone  must brace themselves
                 to the fact that you have to constantly evolve to win.</p>
              </div>
            </div>
          </div>
        </div>
      </section>