---
layout: default
---
<article class = 'flex-panel transparent' itemscope itemtype="http://schema.org/BlogPosting">
  <div class = 'flex-item tripple post'>
    <div class="post-header">
      <a href = '{{site.baseurl}}/blog'>View All Posts</a><h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    </div>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
      <div class = 'facebook'><i class = 'fa fa-facebook' aria-hidden = 'true'> Share</i></div>
      <div class = 'twitter'><i class = 'fa fa-twitter' aria-hidden = 'true'></i> Tweet</div>
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
  </div>
  <aside class = 'flex-item trio'>
    <h3>Related Posts</h3>
    <div class="icon icon-arrow"></div>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
</article>

