---
layout: default
comments: true
---
<article class = 'flex-panel transparent' itemscope itemtype="http://schema.org/BlogPosting">
  <div class = 'flex-item tripple post article'>
    <div class="post-header">
      <a href = '{{site.baseurl}}/blog'>
        <div><i class = 'icon icon-back' aria-hidden = 'true'></i>All Posts</a></div>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
        <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
        {% if page.author %}
          <img class = 'avatar' src = '{{site.baseurl}}/assets/{{page.author}}.jpg' alt = ' {{page.author}} avatar'>by 
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name" class = 'green'>{{ page.author }}</span></span>
        {% endif %}
    </div>
    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
      
  </div>
  <aside class = 'flex-item trio article'>
    <ul class="post-list">
      <li><h2>Related Posts</h2></li>
      {% for post in site.posts %}
        <li>
          <i class="icon icon-arrow"></i>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
</article>

